/* General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem 4rem;
}

.nav-bar .logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 10px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.nav-list a:hover {
  background-color: #575757;
  border-radius: 4px;
}

/* Main */
.centrar-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// panel lista
.fondo-blanco {
  background-color: #fff;
}
.divContenedor {
  margin: 100px 100px;
  padding: 40px 40px;
 background-color:#fff;
}

.item {
  border-style: solid;
  padding: 10px;
}

.flex{
  display: flex;
}
.ocultar {
  display: none;
}

.gap-5{
  gap: 20px;
}

.mx-2{
  margin: 0 10px; 
}

.gap-2{
  gap: 10px;
}

/* Botones */
.btn-primario {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:6px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn-primario:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.btn-primario:active {
	position:relative;
	top:1px;
}

.btn-mostrar {
	box-shadow: 0px 0px 0px 2px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
  padding:6px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn-mostrar:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.btn-mostrar:active {
	position:relative;
	top:1px;
}

.btn-eliminar {
	box-shadow: 0px 0px 0px 2px #c21b1b;
	background-color:#eb0915;
	border-radius:10px;
	border:1px solid #db1515;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
  padding:6px 4px;
  text-decoration:none;
	text-shadow:0px 1px 0px #de2c2c;
}
.btn-eliminar:hover {
	background-color:#bd2a36;
}
.btn-eliminar:active {
	position:relative;
	top:1px;
}

.btn-modificar {
	box-shadow: 0px 0px 0px 2px #f5a720;
	background-color:#f5a720;
	border-radius:10px;
	border:1px solid #e5e6ca;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
  padding:6px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f5a720;
}
.btn-modificar:hover {
	background-color:#f5a720;
}
.btn-modificar:active {
	position:relative;
	top:1px;
}


/* modales */
.modal-agregar {
  position: fixed;  /* Fijado en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Fondo semitransparente */
  display: flex;   /* Flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
}
        
.modal-panel {
	position: fixed;  /* Fijado en la pantalla */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9); /* Fondo semitransparente */
	justify-content: center; /* Centra horizontalmente */
	align-items: center; /* Centra verticalmente */
	z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  }
