*{
padding: 0;
margin:0;
box-sizing: border-box; 
}

.nav-bar{
  font-size: 1.2 rem;
  display: flex;

}
.nav-list{
  justify-content: center;
  padding :1.2rem;
  display: flex;
  background-color: red;
  gap: 1rem;
  align-items: center;
  list-style-type: none;
}